*.idea
*.iml
*/target/**
*/target/*
C:\Users\yudi\Documents\SciGalaxy_git\WebScraping\.idea
C:\Users\yudi\Documents\SciGalaxy_git\WebScraping\WebScraping.iml!debug.log 
debug.log 
C:\Users\yudi\Documents\SciGalaxy_git\WebScraping\target 
C:\Users\yudi\Documents\SciGalaxy_git\WebScraping\WebScaping.iml 
